@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StreetBomber';
  src: url('./assets/street.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .canvas {
    @apply w-[70vh] h-[70vh] border border-black;
  }
}

body {
  background-color: black;
}
