@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Another Tag';
  src: url('./assets/another-tag.otf') format('opentype'),
    url('./assets/another-tag.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .canvas {
    @apply w-[70vh] h-[70vh] border border-black;
  }
}
